
{% extends 'base.html' %}

{% block title %}
    Register Contacts
{% endblock title %}


{% block title_h1 %}
    <h1>Nuevo Contacto</h1>
    <hr />
{% endblock title_h1 %}

{% block navbar %}
    <ul>
        <li>
            <a href="{% url 'view_contactos' %}">Contactos</a>
        </li>
        <div id="register_user_rigth">
            <li>
                <a href="{% url 'logout' %}">Salir</a>
            </li>
        </div>
    </ul>
{% endblock navbar %}

{% block content %}
    <hr />
    <form action="" method="POST">
        {% csrf_token %}
        
        {{ form.as_p }}
       
        <input type="submit" value='Guardar'>
    </form>

    <hr />
    
{% endblock content %}