
{% extends 'base.html' %}

{% block title %}
    Register Contacts
{% endblock title %}


{% block title_h1 %}
    <h1>Nuevo Contacto</h1>
    
{% endblock title_h1 %}

{% block navbar %}
        <li>
            <a href="{% url 'view_contactos' %}">Contactos</a>
        </li>
        <li class="rigth" class="active">
            <a href="{% url 'logout' %}">Salir</a>
        </li>
{% endblock navbar %}

{% block content %}
    
    <form action="" method="POST">
        {% csrf_token %}
        
        {{ form.as_p }}
       
        <input type="submit" value='Guardar'>
    </form>

    
    
{% endblock content %}