
{% extends 'base.html' %}

{% block title %}
    Contacts
{% endblock title %}

{% block title_h1 %}
    <h1>Bienvenido a tus contactos, tienes {{ numero_contactos }} contactos</h1>
    <h2>{{ request.user.first_name }} {{ user.last_name }}</h2>
    {% if messages %}
        {% for message in messages %}
            <div class='message'>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endblock title_h1 %}

{% block navbar %}
    <li>
        <a href="{% url 'register_contactos' %}">Register Contacts</a>
    </li>
    <li>
        <a href= "{% url 'logout' %}" >Salir</a>
    </li>
{% endblock navbar %}

{% block content %}
    <ol>
        {% for ver_contacto in ver_contactos %}
            <li>
                {{ ver_contacto.first_name }} - 
                {{ ver_contacto.last_name }} -
                {{ ver_contacto.phone_number }} -
                {{ ver_contacto.email }} - 
                <a href={% url 'edit_contacto' ver_contacto.id %}>Editar</a>
                <a href={% url 'delete_contacto' ver_contacto.id %}>Eliminar</a>
                <br><br>
            </li>
        {% endfor %}
    </ol>
{% endblock content %}

